@import 'organizations/settings';
body.#{$theme} {
    .process-header__hashtag a.external-link-container {
        color: var(--secondary-dark-10);
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
            color: var(--secondary-dark-10);
            opacity: 0.87;
        }
    }

    a:not(.button),
    .card__link,
    .muted-link,
    .author-data .author__name,
    a.external-link-container,
    .link {
        color: var(--primary-dark-10);
        cursor: pointer;
        font-weight: normal;
        &:hover,
        &:focus {
            color: var(--primary-dark-10);
            opacity: 0.8;
            text-decoration: none;
        }
    }
    a.external-link-container {
        font-weight: normal;
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    button {
        a,
        .card__link,
        .muted-link,
        .author-data .author__name,
        .link,
        a.external-link-container {
            color: inherit !important;
            &:hover,
            &:focus {
                color: inherit !important;
            }
        }
    }
}