@import 'organizations/settings';
body.#{$theme} {
 .section-heading {
    position: relative;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1875rem;
    letter-spacing: 0.05em;
    color: black;
    &:before {
        display: none;
        content: '';
    }
}
}